form {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
  min-height: 43em;
  input {
    font-size: 3em;
    background-color: inherit;
    border: none;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    span {
      animation: fadein 2s;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
